body{

    background-color: paleturquoise;
    transition: background-color 0.5s ease;
}

header{

    text-align: center;
    background-color: white;
    width: 500px;
    margin: 0 auto;
    border-style: solid;
}

#margin_texto{

    margin-top: 15px;
}


section{

    background-color: white;
    border-radius: 5px;
    width: 50%;
    height: 400px;
    margin: 0 auto;
}

section > #tempo_dia{

    margin: 0 auto;
    height: 50px;
    width: 200px;
    position: relative;
    top: 30px;
    font-size: 23px;
    text-align: center;
}

section > #img_tempo{

    height: 280px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    
}

section > #img_tempo > img{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    left: 77px;
}

section > #msg_tempo{

    text-align: center;
    position: relative;
    top: 5px;
    font-size: 25px;
}

footer{

    width: 200px;
    margin: 0 auto;
    text-align: center;
}